.SchoolDetail {
    width: 60%;
    margin: auto;
}
.school_name {
    font-size: 28px;
    font-weight: 500;
}
.school_type {
    margin-top: 13px;
}
.SchoolDetail {
    width: 60%;
    margin: auto;
    border: 1px solid lightgray;
    padding: 80px;
    border-radius: 20px;

}
